.header
	@apply bg-Neutral-White sticky left-0 right-0 z-100 top-0 shadow-Dropshadow-Light rem:h-[120px]
	.header-nav
		@apply flex justify-center items-center xl:gap-11 lg:gap-5
		li
			@apply pb-4 hover:border-b-Primary-1 border-b-2 border-b-transparent  cursor-pointer
			@apply transition-all ease-in-out	
			&:hover
				a
					@apply text-Primary-1
			a
				@apply rem:text-[20px] font-semibold text-Neutral-Black   hover:text-Primary-1
			&.menu-item-has-children
				@apply relative 
				ul.sub-menu
					@apply flex flex-col opacity-0 invisible rounded-lg transition-300 z-10 absolute top-[2.6rem] left-0 rem:w-[340px] pointer-events-none overflow-hidden bg-Neutral-White shadow-Dropshadow-Light
					li
						@apply pb-0 hover:border-none border-none
						a
							@apply text-Neutral-500-main font-medium rem:text-[16px] hover:text-Primary-1 block
							@apply py-3 px-6
				&:hover
					ul.sub-menu
						@apply opacity-100 pointer-events-auto visible
		

			&[class*='children']
				
				@apply flex items-center gap-2
				&:hover
					
					@apply relative
					&::before
						content: ''
						@apply absolute top-full h-[100%] w-full 
			&[class*='current']
				@apply border-b-Primary-1
				&>a
					@apply text-Primary-1 border-b-Primary-1
	.header-bar
		@apply w-12 h-12 flex-shrink-0 
		@apply inline-flex items-center justify-center 
		@apply text-Neutral-White bg-Primary-1 backdrop-blur-sm text-2xl
	.header-search
		@apply w-8 h-8 flex-shrink-0 
		@apply inline-flex items-center justify-center 
		@apply bg-transparent text-Primary-1 text-2xl
	.search-bar-container
		position: absolute
		top: 100%
		left: 0
		right: 0
		padding: 1.5rem 15px
		display: flex
		box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05)
		background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75))
		background-size: cover
		backdrop-filter: blur(5px) !important
		height: 100vh
		width: 100%
		align-items: center
		flex-direction: column
		z-index: 1001
		opacity: 0
		visibility: hidden
		transition: opacity 0.3s ease-in-out, visibility 0s 0.3s

.search-bar-container.active
	opacity: 1
	visibility: visible
	transition: opacity 0.3s ease-in-out, visibility 0s
@media (max-width: 1279.98px)
	.header
		@apply py-3
		.header-main-mobile
			.header-logo-mobile
				@apply absolute left-2/4 -translate-x-2/4
	body.isOpenMenu
		.header-nav-mobile
			@apply translate-x-0
	.header-nav-mobile
		transition-duration: .5s
		transition-property: transform
		transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1)
		height: calc(100dvh - var(--header-height))
		@apply left-0 top-[var(--header-height)] w-full fixed px-[15px]
		@apply translate-x-full bg-Neutral-White z-999 overflow-y-auto overflow-hidden
		ul
			@apply flex flex-col items-stretch w-full
			li
				a
					@apply font-semibold
					@apply text-Neutral-Black py-3   flex items-center text-[16px]
				&.menu-item-has-children
					@apply relative 
					&>a
						@apply relative flex items-center justify-between
						
						&.dropdown-active
							&::after
								@apply rotate-180
						&::after
							content: '\f0d7'
							@apply font-awesome font-black text-lg 
					ul.sub-menu
						@apply bg-Neutral-50 p-5
						li
							a
								@apply text-black py-2 px-0 font-normal
			li
				&[class*='current']
					&>a
						@apply text-Primary-1
@media (max-width: 767.98px)
	.header
		@apply h-[80px]