section.about-7(class="section-py")
	.container
		.heading(class="mb-base")
			h4(class="text-2xl tracking-[-0.4px] font-bold text-Primary-1 mb-4") GIẢI THƯỞNG - CHỨNG NHẬN
			h3(class="title-40 !font-normal") Bằng chứng cho sự tin cậy, chất lượng và dẫn đầu thị trường
		.certification-slide(class="relative")
			.swiper 
				.swiper-wrapper 
					-for(i=0;i<10;i++)
						.swiper-slide 
							.item 
								.image 
									a(href="./img/giaithuong.png" class="img-ratio ratio:pt-[350_248] lozad" data-fancybox)
										img(src="./img/giaithuong.png", alt="") 
								.content(class="mt-4 text-center")
									h3(class="text-xl font-bold text-Neutral-950 tracking-[-0.4px]") Giải thưởng Xuất Sắc Ngành Thép Toàn Cầu
			.wrap-button-slide(class="!hidden lg:!flex")
				.btn.btn-prev.btn-sw-1.primary
				.btn.btn-next.btn-sw-1.primary