section.home-2(class="pt-20 rem:pb-[333px]" setBackground="./img/home-2-bg.png")
	.container
		.home-2-main(class="flex xl:rem:gap-[224px] md:gap-20 gap-base")
			.col-left(class="xl:rem:w-[840px] md:w-7/12")
				h4(class="text-xl tracking-[-0.4px] font-bold text-Primary-1 mb-4") GIỚI THIỆU NAM VIỆT
				h3(class="title-40 !font-normal tracking-[-1.6px] mb-base") Đồng hành cùng giá trị cộng hưởng
				.format-content(class="text-lg font-normal text-Neutral-950") 
					p Công ty TNHH Sản Xuất & Thương Mại Minh Ngọc được chính thức thành lập vào năm 2005, do Sở Kế hoạch và Đầu tư Tỉnh Hưng Yên cấp giấy chứng nhận. Trụ sở và nhà máy của công ty tại Khu D, KCN Phố Nối A, Tỉnh Hưng Yên với diện tích xấp xỉ 7 héc ta. Sản phẩm mang thương hiệu "Ống Thép Minh Ngọc" luôn là lựa chọn hàng đầu cho các công trình xây dựng công nghiệp, dân dụng, trang trí nội ngoại thất đáp ứng mọi nhu cầu về ống thép của khách hàng. 
				.home-2-btn(class="inline-flex mt-base")
					+ButtonPrimary("Về chúng tôi")
			.col-right(class="xl:w-[calc(100%-43.75rem-11.666666666666668rem)] md:w-5/12")
				.image 
					a(href="#" class="img-ratio ratio:pt-[350_336] lozad")
						+PugImg("./img/celebrating.png")
						