section.home-3(class="bg-Primary-2 lg:pt-20 lg:pb-0 pt-10 pb-10 relative overflow-hidden")
	.home-3-svg(class="absolute left-[-12rem] z-10")
		.image(class="rem:w-[883px]")
			a(href="#" class="ratio-contain ratio:pt-[654_883] lozad")
				img(src="./img/home-3-svg.svg", alt="") 
	.container
		.wrap(data-toggle="tabslet")
			.tabslet-content.active#tab1
				.home-3-main(class="flex flex-col md:flex-row items-center lg:rem:gap-[115px] gap-base  md:pb-28 pb-6")
					.col-left(class="lg:rem:w-[609px] md:w-7/12 w-full")
						.home-3-top
							h4(class="text-xl font-bold text-Primary-1 tracking-[-0.4px] mb-4") SẢN PHẨM
							h3(class="title-40 !font-normal mb-base !text-Neutral-White lg:mb-15 mb-base") Lựa Chọn Ưu Tiên Cho Các Công Trình
						.home-3-content(class="flex flex-col md:rem:gap-[26px] gap-3")
							h3(class="text-2xl font-bold text-Neutral-White ") Thép Tấm Nam Việt
							.format-content 
								.desc(class="text-lg font-normal text-Neutral-White") Dùng trong gia công cơ khí, kết cấu kim loại trong xây dựng, chế tạo ô tô, đóng tàu, kết cầu ống hàn, cán xà gồ và sử dụng trong nhiều công trình xây dựng và công nghiệp khác.
							.home-3-btn
								a(href="#") Xem thêm

					.col-right(class="lg:w-[calc(100%-31.71875rem-5.989583333333334rem)] md:w-5/12 w-full")
						.image
							a(href="#" class="img-ratio ratio:pt-[425_680] lozad")
								+PugImg()
			.tabslet-content.active#tab2
				.home-3-main(class="flex flex-col md:flex-row items-center lg:rem:gap-[115px] gap-base  md:pb-28 pb-6")
					.col-left(class="lg:rem:w-[609px] md:w-7/12 w-full")
						.home-3-top
							h4(class="text-xl font-bold text-Primary-1 tracking-[-0.4px] mb-4") SẢN PHẨM 2
							h3(class="title-40 !font-normal mb-base !text-Neutral-White lg:mb-15 mb-base") Lựa Chọn Ưu Tiên Cho Các Công Trình
						.home-3-content(class="flex flex-col md:rem:gap-[26px] gap-3")
							h3(class="text-2xl font-bold text-Neutral-White ") Thép Tấm Nam Việt
							.format-content 
								.desc(class="text-lg font-normal text-Neutral-White") Dùng trong gia công cơ khí, kết cấu kim loại trong xây dựng, chế tạo ô tô, đóng tàu, kết cầu ống hàn, cán xà gồ và sử dụng trong nhiều công trình xây dựng và công nghiệp khác.
							.home-3-btn
								a(href="#") Xem thêm

					.col-right(class="lg:w-[calc(100%-31.71875rem-5.989583333333334rem)] md:w-5/12 w-full")
						.image
							a(href="#" class="img-ratio ratio:pt-[425_680] lozad")
								+PugImg()
			
			
			
			ul.tabslet-tab.home-3-nav
				li.active
					a(href="#tab1") Thép Tấm
				li
					a(href="#tab2") Thép Cuộn
				li
					a(href="#tab3") Thép Hình
				li
					a(href="#tab4") Thép Ống/Hộp 
				li
					a(href="#tab5") Mạ Kẽm
