section.project-5(class="section-40 bg-Primary-1")
	.container-fluid 
		.project-5-main(class="flex flex-col lg:flex-row gap-base")
			.col-left(class="lg:w-2/4 w-full")
				.image 
					a(href="#" class="img-ratio")
						+PugImg() 
			.col-right(class="lg:w-2/4 w-full")
				.heading(class="py-10 xl:rem:mb-[166px] mb-10")
					.wrap(class="flex gap-6 items-center")
						.number-title(class="text-2xl font-bold text-Neutral-White") 03
						.line(class="flex-1 bg-linear-line-2 h-[1px]")
					h2(class="title-48 !text-Neutral-White mt-6") Thép kết cấu – nền tảng vững chắc cho các dự án công nghiệp
				.project-overview(class="flex flex-col md:flex-row gap-base")
					.title(class="md:rem:w-[222px] w-full")
						h3(class="text-2xl font-bold text-Neutral-White leading-[1.25] tracking-[-0.48px]") Tổng quan
					.content(class="md:w-[calc(100%-11.5625rem-2.08333rem)] w-full")
						.image(class="mb-base")
							a(href="#" class="img-ratio ratio:pt-[200_640]")
								+PugImg() 
						.format-content 
							p Thép kết cấu là loại thép được sử dụng để tạo nên bộ khung chịu lực chính cho các công trình xây dựng, đặc biệt là trong các công trình quy mô lớn như nhà xưởng công nghiệp, tòa nhà cao tầng, cầu, hạ tầng kỹ thuật. Loại thép này thường được chế tạo dưới dạng hình chữ I, H, U, L, hộp vuông hoặc ống tròn, có khả năng chịu lực cao và được liên kết với nhau bằng bu lông, hàn hoặc đinh tán.
							p Khi lựa chọn giữa thép kết cấu ASTM A572 (Grade 50) và Q355B (theo tiêu chuẩn Trung Quốc GB/T 1591) cho các dự án công nghiệp, cần so sánh trên ba tiêu chí chính: tính chất cơ học, tiêu chuẩn kỹ thuật, và tính ứng dụng thực tế.
		.project-5-intro(class="section-40")
			.image(class="relative") 
				a(href="#" class="img-ratio ratio:pt-[598_1840]")
					+PugImg() 
				.content 
					.item 
						.top 
							h3 Cơ tính và hiệu suất sử dụng
						.bottom 
							.format-content 
								p Cả A572 Gr.50 và Q355B đều là thép cường độ cao, độ dẻo tốt, có thể hàn, cắt, gia công thuận tiện. Mặc dù giới hạn chảy của Q355B cao hơn A572 một chút (355 MPa vs 345 MPa), sự khác biệt này không đáng kể trong ứng dụng thực tế.
								p Tuy nhiên, A572 có kiểm soát thành phần hợp kim tốt hơn và thường đi kèm với các yêu cầu nghiêm ngặt về hàm lượng lưu huỳnh (S), photpho (P), giúp tăng khả năng chống nứt và tăng tuổi thọ vật liệu.
					.item 
						.top 
							h3(class="text-2xl") Tính đồng bộ và truy xuất nguồn gốc
						.bottom 
							.format-content 
								p Cả A572 Gr.50 và Q355B đều là thép cường độ cao, độ dẻo tốt, có thể hàn, cắt, gia công thuận tiện. Mặc dù giới hạn chảy của Q355B cao hơn A572 một chút (355 MPa vs 345 MPa), sự khác biệt này không đáng kể trong ứng dụng thực tế.
								p Q355B là thép phổ biến tại Trung Quốc, giá rẻ hơn, nhưng chất lượng phụ thuộc mạnh vào nhà sản xuất. Các nhà máy lớn như Baosteel, Shougang, HBIS thì đảm bảo hơn, nhưng hàng trôi nổi có thể không đạt tiêu chuẩn kỹ thuật thật sự.
					.item 
						.top 
							h3(class="text-2xl") Tương thích thiết kế và tiêu chuẩn thi công
						.bottom 
							.format-content 
								p Cả A572 Gr.50 và Q355B đều là thép cường độ cao, độ dẻo tốt, có thể hàn, cắt, gia công thuận tiện. Mặc dù giới hạn chảy của Q355B cao hơn A572 một chút (355 MPa vs 345 MPa), sự khác biệt này không đáng kể trong ứng dụng thực tế.
								p Nếu công trình theo tiêu chuẩn Trung Quốc hoặc tiêu chuẩn chung ASEAN: Q355B là lựa chọn khả thi, dễ mua, dễ thi công tại chỗ.
		.project-5-overview(class="lg:rem:w-[1160px] mx-auto w-full")
			.wrap(class="flex flex-col-reverse lg:flex-row gap-base")
				.left(class="lg:rem:w-[800px] w-full")
					.title(class="text-lg font-bold text-Neutral-White mb-base") Cả A572 Gr.50 và Q355B đều là thép cường độ cao, độ dẻo tốt, có thể hàn, cắt, gia công thuận tiện. Mặc dù giới hạn chảy của Q355B cao hơn A572 một chút (355 MPa vs 345 MPa), sự khác biệt này không đáng kể trong ứng dụng thực tế.
					.format-content(class="text-lg text-Neutral-White font-normal tracking-[-0.36px]")
						p Lorem ipsum dolor sit amet consectetur. Risus ante mauris suspendisse imperdiet etiam cras rhoncus placerat. Mi massa enim odio varius etiam ultricies lacus. Eros massa proin viverra elit. Risus aenean ornare duis aliquam purus id consectetur diam suspendisse. Eget mauris nullam porttitor turpis libero convallis. Neque risus vitae turpis at dui eget elementum massa. Et sagittis ornare in neque urna. Pharetra in tortor scelerisque vitae viverra blandit rhoncus faucibus. Massa tincidunt turpis habitasse sit diam eget quis at. Ultrices risus accumsan netus eu quam ultricies amet nisi. Nulla et venenatis tincidunt nisl egestas cursus. Maecenas curabitur ipsum placerat nam dolor sem. Id sed odio et vitae. Convallis nibh rutrum luctus adipiscing volutpat tristique vel interdum. Magna sit condimentum nulla quam nisl mollis porta metus. Diam pellentesque neque leo sit. Urna scelerisque mauris id faucibus suspendisse ridiculus velit nibh ut. Et ac nunc vel enim ipsum orci sit ullamcorper tellus. Quis quam aenean velit aliquet nec volutpat fringilla tristique orci. Placerat lectus in tellus mollis eleifend. Ultrices gravida interdum pellentesque lectus egestas aliquet laoreet pretium. Magna venenatis cum massa ultrices in mi at. Consequat tincidunt auctor natoque id eu odio. Dolor nunc sed dolor nisl nam enim neque. Enim dignissim mi rhoncus proin id ornare integer vulputate lorem. Elit enim tristique tincidunt et porttitor amet adipiscing. Aliquet arcu quam vel varius euismod quis massa blandit. Duis et diam et nunc faucibus viverra sed egestas mi. Sit risus facilisis a eget id sagittis.
				.right(class="lg:w-[calc(100%-41.66666666666667rem-2.08333rem)] w-full")
					.image 
						a(href="#" class="img-ratio lg:ratio:pt-[472_320]")
							+PugImg() 
			.gallary(class="flex rem:gap-[7px] mt-base")
				.gallary-left(class="lg:rem:w-[444px] w-full")
					.image 
						a(href="#" class="img-ratio lg:ratio:pt-[531_444]")
							+PugImg() 
				.gallary-right(class="lg:w-[calc(100%-23.125rem-0.36458333333333337rem)] w-full")
					.image 
						a(href="#" class="img-ratio lg:ratio:pt-[531_706]")
							+PugImg() 

			