section.global-breadcrumb
	.container
		nav(aria-label="breadcrumbs", class="rank-math-breadcrumb")
			p
				a(href="#") Trang chủ
				span(class="separator")  | 
				span(class="last") Về chúng tôi
section.product-detail(class="section-py")
	.container 
		.product-detail-main(class="flex gap-20")
			.col-left(class="rem:w-[680px]")
				.product-slide-images(class="flex xs:max-md:flex-col-reverse gap-5")
					.product-slide-thumbs(class="w-full md:w-[20%] lg:rem:w-[80px] flex-shrink-0 relative")
						div(class="md:absolute top-0 left-0 w-full h-full flex flex-col items-center")
							.btn.btn-prev.btn-sw-1
							.swiper(class="w-full h-full rem:py-[29px]")
								.swiper-wrapper
									-for(i=0;i<5;i++)
										.swiper-slide
											.img(class="xs:max-md:img-ratio img-full h-full")
												+PugImg()
							.btn.btn-next.btn-sw-1
					.product-slide-main(class="md:flex-1 max-w-full w-full relative md:w-[80%] lg:w-[calc(100%-35.41666666666667rem-1.04167rem)]")
						.swiper
							.swiper-wrapper
								-for(i=0;i<5;i++)
									.swiper-slide
										a.img(class="img-ratio", data-fancybox="product-detail")
											+PugImg()
			.col-right(class="w-[calc(100%-35.41666666666667rem-4.16667rem)]")
				h1.product-title(class="title-40 !font-normal mb-6") Q235B				
				.format-content
					p Khởi lập từ những năm 90, Nam Việt sớm xác định mình là công ty thương mại, chuyên phân phối các sản phẩm thép cho xây dựng công nghiệp và dân dụng. Một cách tự hào, chúng tôi coi mình là cầu nối giữa các nhà sản xuất và người tiêu thụ. Và, để được khách hàng tin dùng, không gì khác, chúng tôi giúp khách hàng có được những sản phẩm tốt nhất, phù hợp nhất cho công trình của mình.
					
					table 
						-for(i=0;i<5;i++)
							tr 
								td Quy cách:
								td.parameter 3.00 - 100.00 mmx
					.product-btn-contact 
						a(href="#") Liên hệ tư vấn
					.product-detail-share 
						span Share:
						.social 
							a(href="#")
								i.fa-brands.fa-facebook-f
.product-detail-tab(class="" data-toggle="tabslet")
	ul.tabslet-tab.product-detail-list
		li.active
			a(href="#tab1") Thông tin chung
		li
			a(href="#tab2") Tính chất cơ lý
		li
			a(href="#tab3") Tính chất hóa học
	.product-detail-tab-content(class="bg-Neutral-50 section-py")
		.container
			.tabslet-content.active#tab1
				.general-info
					.format-content 
						table 
							thead 
								tr 
									th Tên hàng
									th Tên hàng
									th Tên hàng
									th Tên hàng
									th Tên hàng
									th Tên hàng
							tbody 
								-for(i=0;i<5;i++)
									tr 
										td Thép 3 ly khổ nhỏ
										td Thép 3 ly khổ nhỏ
										td Thép 3 ly khổ nhỏ
										td Thép 3 ly khổ nhỏ
										td Thép 3 ly khổ nhỏ
										td Thép 3 ly khổ nhỏ
						.hidden-content 
							p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis, qui perferendis enim tenetur nihil mollitia ipsam culpa? Soluta quibusdam ut expedita aperiam deserunt placeat, iste molestiae sit quis, corporis cumque?
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad itaque maxime tempora eos, consequatur dolor molestiae veniam vel perferendis assumenda a rem. Beatae voluptatum minus voluptatem, harum quia iure iusto.
						.button-read-more(class="flex items-center justify-center mt-base")
							a(href="#") 
								span Xem thêm
								i.fa-light.fa-angle-down
			.tabslet-content#tab2
				.format-content 
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, quaerat doloribus asperiores itaque, iusto id perferendis ullam enim consectetur quisquam in alias quos. Rerum beatae quod tempora, doloremque aliquid ratione.
			.tabslet-content#tab3
				.format-content 
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, quaerat doloribus asperiores itaque, iusto id perferendis ullam enim consectetur quisquam in alias quos. Rerum beatae quod tempora, doloremque aliquid ratione. 22
		
section.product-detail-2(class="section-py")
	.container 
		h2(class="text-center text-32 text-Primary-2 font-normal mb-base") Sản phẩm liên quan
		.product-detail-2-related(class="relative")
			.swiper 
				.swiper-wrapper 
					-for(i=0;i<10;i++)
						.swiper-slide 
							+ProductItem()
			.wrap-button-slide
				.btn.btn-prev.btn-sw-1
				.btn.btn-next.btn-sw-1