section.project-2(class="bg-Primary-1 pt-10")
	.container-fluid
		.image(class="relative") 
			a(href="#" class="img-ratio ratio:pt-[796_1840]")
				+PugImg()
			.content 
				h1 THÉP
				h2 
					| Chìa Khóa Cho Kết Cấu Công Nghiệp 
					br
					| Vững Chắc và Kinh Tế 