section.product-1 
	+Banner()
section.product-2(class="section-py")
	.container 
		.product-wrap(class="flex gap-base")
			.col-left(class="w-3/12 ")
				.product-category(class="flex items-center  gap-3 w-full")
					.product-item(class="cursor-pointer w-full") 
						.product-item-heading(class="flex items-center justify-between p-4 bg-Primary-1 text-Neutral-White") 
							.left(class="flex items-center gap-3") 
								.title(class="text-xl font-bold") DANH SÁCH SẢN PHẨM
							.icon-left
								i.fa-solid.fa-chevron-down
						ul.product-main 
							-for(var i = 0; i < 4; i++)
								li.has-children
									a(href="#") Thép Tấm 
									ul.product-level-1 
										li 
											a(href="#") Trơn và Chống Trượt 
										li 
											a(href="#") Trơn và Chống Trượt 
										li 
											a(href="#") Trơn và Chống Trượt 

				.product-filter(class="flex items-center  gap-3 w-full")
					.product-item(class="cursor-pointer w-full") 
						.product-item-heading(class="flex items-center justify-between p-4 bg-Primary-1 text-Neutral-White") 
							.left(class="flex items-center gap-3") 
								.title(class="text-xl font-bold") BỘ LỌC
							.icon-left
								i.fa-solid.fa-chevron-down
						ul.product-main 
							-for(var i = 0; i < 4; i++)
								li.has-children
									a(href="#") Quy cách
									ul.product-level-1 
										li 
											.product-list
												.product-checkbox.checked
													span.product-display-value 17.2
												.product-color 
													span
										li 
											.product-list
												.product-checkbox.checked
													span.product-display-value 17.2
												.product-color 
													span
										li 
											.product-list
												.product-checkbox.checked
													span.product-display-value 17.2
												.product-color 
													span

							
			.col-right(class="w-9/12")
				.col-right-product-list(class="grid lg:grid-cols-3 md:grid-cols-2 gap-base mt-base lg:mt-0")
					-for(var i = 0; i < 9; i++)
						+ProductItem()
				.pagination(class="mt-base")
					ul.page-numbers
						li 
							a.active(href="#") 1 
						li 
							a(href="#") 2
						li 
							a(href="#") 3