section.home-5(class="section-py bg-linear-6")
	.container 
		.home-5-top(class="flex flex-col md:flex-row md:items-center items-start justify-between gap-base mb-base")
			.left(class="")
				h4(class="text-xl font-bold text-Primary-1 tracking-[-0.4px] mb-4") DỊCH VỤ
				h3(class="title-40 !font-normal ") Lựa Chọn Ưu Tiên Cho Các Công Trình
			.right
				.home--5-btn
					+ButtonPrimary("Xem tất cả")
		.home-5-list(class="flex gap-5")
			.item.active(class="lg:rem:h-[480px] relative flex items-end flex-1 transition-all duration-500 ease-in-out overflow-hidden")
				.image(class="relative")
					a(href="#")
						img(src="./img/1.jpg", alt="") 
					.content(class="text-center absolute rem:bottom-[52px] w-full") 
						h2(class="text-32 text-Neutral-White font-bold") Cắt Gia Công
			.item(class="lg:rem:h-[480px] relative flex items-end flex-1 transition-all duration-500 ease-in-out overflow-hidden")
				.image(class="relative")
					a(href="#")
					
						img(src="./img/image-2-1.png", alt="") 
					.content(class="text-center absolute rem:bottom-[52px]")
						h2(class="text-32 text-Neutral-White font-bold") Cắt Gia Công
			.item(class="lg:rem:h-[480px] relative flex items-end flex-1 transition-all duration-500 ease-in-out overflow-hidden")
				.image(class="relative")
					a(href="#")
						img(src="./img/image-3.png", alt="") 
					.content(class="text-center absolute rem:bottom-[52px]")
						h2(class="text-32 text-Neutral-White font-bold") Cắt Gia Công
			.item(class="lg:rem:h-[480px] relative flex items-end flex-1 transition-all duration-500 ease-in-out overflow-hidden")
				.image(class="relative")
					a(href="#")
						img(src="./img/image-4.png", alt="") 
					.content(class="text-center absolute rem:bottom-[52px]")
						h2(class="text-32 text-Neutral-White font-bold") Cắt Gia Công

					


