section.about-4(class="bg-Primary-2 relative overflow-hidden")
	.about-4-main(class="flex flex-col-reverse md:flex-row gap-12 items-center lg:rem:pr-[260px] pr-4")
		.col-left(class="md:w-[calc(100%-31.25rem-2.5rem)] relative left-0  w-full")
			.image 
				a(href="#" class="ratio-contain ratio:pt-[840_1193px]")
					img(src="./img/sumenh-2.png", alt="") 
		.col-right(class="md:rem:w-[600px]  w-full")
			.wrapper(class="flex justify-end")
				.about-4-content(class="pt-10 md:pt-0")
					h4(class="text-2xl tracking-[-0.4px] font-bold text-Primary-1 mb-4") TẦM NHÌN
					.format-content(class="title-40 !text-Neutral-White !font-normal") 
						p Trở thành nhà phân phối thép hàng đầu Việt Nam, là đối tác chiến lược của các nhà sản xuất sắt thép và đơn vị thi công trong và ngoài nước. 