section.home-1(class="relative hidden md:block")
	.home-1-slide(class="relative")
		.swiper
			.swiper-wrapper 
				.swiper-slide
					.home-1-banner(class="relative") 
						a(href="#" class="img-ratio ratio:pt-[840_1920] lozad")
							img(src="./img/banner-1.png", alt="") 
						.home-1-content
							h1 Nhà Tuyển Lựa Cho Các Công Trình
				.swiper-slide
					.home-1-banner(class="relative") 
						a(href="#" class="img-ratio ratio:pt-[840_1920] lozad")
							img(src="./img/banner-2.png", alt="") 
						.home-1-content
							h1 Nhà Tuyển Lựa Cho Các Công Trình
				.swiper-slide
					.home-1-banner(class="relative") 
						a(href="#" class="img-ratio ratio:pt-[840_1920] lozad")
							img(src="./img/banner-1.png", alt="") 
						.home-1-content
							h1 Nhà Tuyển Lựa Cho Các Công Trình
		.wrap-button-slide
			.btn.btn-prev.btn-sw-1.white
			.btn.btn-next.btn-sw-1.white
section.home-1-mobile(class="block md:hidden relative")
	.swiper.swiper-home-banner-mobile 
		.swiper-wrapper 
			.swiper-slide
				.home-1-banner-mobile(class="relative") 
					a(href="#" class="")
						img(src="./img/banner-mobile.png", alt="") 
					.home-1-content-mobile
						h1 Nhà Tuyển Lựa Cho Các Công Trình