section.home-4(class="bg-Neutral-White")
	.home-4-slide 
		.swiper 
			.swiper-wrapper 
				-for(var i = 0; i < 20; i++)					
					.swiper-slide 
						.image(class="rem:w-[165px]")
							a(href="#" class="img-ratio lozad")
								img(src="./img/brand.png", alt="") 
