section.project-6(class="section-40 bg-Primary-1")
	.container-fluid 
		.project-6-main(class="flex flex-col gap-10 xl:gap-0 xl:flex-row")
			.image-left(class="xl:rem:w-[470px] w-full")
				a(href="#" class="img-ratio xl:ratio:pt-[770_470]")
					+PugImg() 
			.content(class="flex-1 bg-Primary-2 lg:py-10 lg:px-16 p-8")
				.wrap(class="flex gap-6 items-center")
					.number-title(class="text-2xl font-bold text-Neutral-White") 04
					.line(class="flex-1 bg-linear-line-2 h-[1px]")
				h2(class="title-48 !text-Neutral-White mb-base") “Xương Sống" Của Thế Giới Hiện Đại Ứng Dụng Đa Dạng Của Thép
				.format-content(class="text-lg font-normal text-Neutral-White")
					p Lorem ipsum dolor sit amet consectetur. Risus ante mauris suspendisse imperdiet etiam cras rhoncus placerat. Mi massa enim odio varius etiam ultricies lacus. Eros massa proin viverra elit. Risus aenean ornare duis aliquam purus id consectetur diam suspendisse. Eget mauris nullam porttitor turpis libero convallis. Neque risus vitae turpis at dui eget elementum massa. Et sagittis ornare in neque urna. Pharetra in tortor scelerisque vitae viverra blandit rhoncus faucibus. Massa tincidunt turpis habitasse sit diam eget quis at. Ultrices risus accumsan netus eu quam ultricies amet nisi. Nulla et venenatis tincidunt nisl egestas cursus. Maecenas curabitur ipsum placerat nam dolor sem. Id sed odio et vitae. Convallis nibh rutrum luctus adipiscing volutpat tristique vel interdum. Magna sit condimentum nulla quam nisl mollis porta metus. Diam pellentesque neque leo sit. Urna scelerisque mauris id faucibus suspendisse ridiculus velit nibh ut. Et ac nunc vel enim ipsum orci sit ullamcorper tellus. Quis quam aenean velit aliquet nec volutpat fringilla tristique orci. Placerat lectus in tellus mollis eleifend. Ultrices gravida interdum pellentesque lectus egestas aliquet laoreet pretium. Magna venenatis cum massa ultrices in mi at. Consequat tincidunt auctor natoque id eu odio. Dolor nunc sed dolor nisl nam enim neque. Enim dignissim mi rhoncus proin id ornare integer vulputate lorem. Elit enim tristique tincidunt et porttitor amet adipiscing. Aliquet arcu quam vel varius euismod quis massa blandit. Duis et diam et nunc faucibus viverra sed egestas mi. Sit risus facilisis a eget id sagittis.
			.image-right(class="xl:rem:w-[470px] w-full")
				a(href="#" class="img-ratio xl:ratio:pt-[770_470]")
					+PugImg() 
		.project-6-overview(class="lg:rem:w-[1160px] w-full mx-auto lg:pt-20 pt-10")
			.format-content(class="text-lg text-Neutral-White font-normal text-center") 
				p Lorem ipsum dolor sit amet consectetur. Risus ante mauris suspendisse imperdiet etiam cras rhoncus placerat. Mi massa enim odio varius etiam ultricies lacus. Eros massa proin viverra elit. Risus aenean ornare duis aliquam purus id consectetur diam suspendisse. Eget mauris nullam porttitor turpis libero convallis. Neque risus vitae turpis at dui eget elementum massa. Et sagittis ornare in neque urna. Pharetra in tortor scelerisque vitae viverra blandit rhoncus faucibus. Massa tincidunt turpis habitasse sit diam eget quis at. Ultrices risus accumsan netus eu quam ultricies amet nisi. Nulla et venenatis tincidunt nisl egestas cursus. Maecenas curabitur ipsum placerat nam dolor sem. Id sed odio et vitae. Convallis nibh rutrum luctus adipiscing volutpat tristique vel interdum. Magna sit condimentum nulla quam nisl mollis porta metus. Diam pellentesque neque leo sit. Urna scelerisque mauris id faucibus suspendisse ridiculus velit nibh ut. Et ac nunc vel enim ipsum orci sit ullamcorper tellus. Quis quam aenean velit aliquet nec volutpat fringilla tristique orci. Placerat lectus in tellus mollis eleifend. Ultrices gravida interdum pellentesque lectus egestas aliquet laoreet pretium. Magna venenatis cum massa ultrices in mi at. Consequat tincidunt auctor natoque id eu odio. Dolor nunc sed dolor nisl nam enim neque. Enim dignissim mi rhoncus proin id ornare integer vulputate lorem. Elit enim tristique tincidunt et porttitor amet adipiscing. Aliquet arcu quam vel varius euismod quis massa blandit. Duis et diam et nunc faucibus viverra sed egestas mi. Sit risus facilisis a eget id sagittis.
		.project-6-list(class="section-py")
			h2(class="text-32 text-Neutral-White text-center font-bold uppercase tracking-[-0.64px]") “Xương Sống" Của Thế Giới Hiện Đại Ứng Dụng Đa Dạng Của Thép
			.wrapper(class="grid xl:grid-cols-5 lg:grid-cols-3 md:grid-cols-2 gap-base mt-6")
				-for(var i = 0; i < 5; i++)
					.item 
						.image 
							a(href="#" class="img-ratio") 
								+PugImg()
						.content(class="rem:mt-[33px] text-Neutral-White")
							h3(class="text-xl font-bold  mb-4")
								a(href="#") Khung Nhà Xưởng và Kết Cấu Thép Tiền Chế 
							.desc(class="text-lg font-normal") Lorem ipsum dolor sit amet consectetur. Risus ante mauris suspendisse imperdiet etiam cras rhoncus placerat. 