section.about-3(class="section-py")
	.container 
		.about-3-main(class="flex flex-col md:flex-row lg:gap-20 gap-10 items-center")
			.col-left(class="lg:rem:w-[720px] md:w-7/12 w-full")
				h4(class="text-2xl tracking-[-0.4px] font-bold text-Primary-1 mb-4") TẦM NHÌN
				.format-content(class="title-40 !font-normal") 
					p Trở thành nhà phân phối thép hàng đầu Việt Nam, là đối tác chiến lược của các nhà sản xuất sắt thép và đơn vị thi công trong và ngoài nước.
			.col-right(class="lg:w-[calc(100%-37.5rem-4.16667rem)] md:w-5/12 w-full")
				.image 
					a(href="#" class="img-ratio ratio:pt-[573_600] lozad")
						img(src="./img/tamnhin.png", alt="") 