section.global-breadcrumb
	.container
		nav(aria-label="breadcrumbs", class="rank-math-breadcrumb")
			p
				a(href="#") Trang chủ
				span(class="separator")  | 
				span(class="last") Về chúng tôi
section.recruitment-detail-1(class="lg:py-20 py-10") 
	.container 
		.recruitment-detail-main(class="flex gap-10 max-lg:flex-col") 
			.col-left(class="lg:w-8/12 w-full")
				.content(class="bg-Neutral-50 p-8")
					h1(class="text-32 leading-10 font-bold text-Primary-1 pb-3 border-b border-b-neutral-200") Nhân viên Marketing
					.recruitment-detail-tabs(class="flex gap-10 p-8 max-md:flex-col max-md:p-4 bg-Neutral-50") 
						.recruitment-detail-tab-left(class="w-2/4 flex flex-col gap-5 max-lg:w-full")
							.recruitment-detail-tab-item
								.recruitment-location Vị trí 
								.recruitment-location-position Trợ lý Marketing
							.recruitment-detail-tab-item
								.recruitment-location Chức vụ 
								.recruitment-location-position Nhân viên
							.recruitment-detail-tab-item
								.recruitment-location Yêu cầu bằng cấp
								.recruitment-location-position Cao đẳng chuyên ngành
							.recruitment-detail-tab-item.border-none
								.recruitment-location Mức lương
								.recruitment-location-position Thương lượng
						.recruitment-detail-tab-right(class="w-2/4 flex flex-col gap-5 max-lg:w-full")
							.recruitment-detail-tab-item
								.recruitment-location Số lượng ứng tuyển
								.recruitment-location-position 02
							.recruitment-detail-tab-item
								.recruitment-location Địa điểm làm việc
								.recruitment-location-position TP. Hồ Chí Minh
							.recruitment-detail-tab-item
								.recruitment-location Giới tính
								.recruitment-location-position Không yêu cầu
							.recruitment-detail-tab-item.border-none
								.recruitment-location Hạn nộp hồ sơ
								.recruitment-location-limit 20.06.2024
				.content(class="mt-8 p-8 bg-Neutral-50") 
					h3(class="rem:text-[24px] font-bold leading-8 text-Primary-1 pb-3 border-b border-b-neutral-200") Mô tả công việc
					.content-list(class="mt-5 flex flex-col gap-3") 
						ul 
							li Xây dựng kế hoạch, triển khai các hoạt động PR truyền thông phù hợp với chiến lược Marketing tổng thể của sản phẩm hoặc dự án
							li Xây dựng kế hoạch, triển khai các hoạt động PR truyền thông phù hợp với chiến lược Marketing tổng thể của sản phẩm hoặc dự án
							li Xây dựng kế hoạch, triển khai các hoạt động PR truyền thông phù hợp với chiến lược Marketing tổng thể của sản phẩm hoặc dự án
				.content(class="mt-8 p-8 bg-Neutral-50") 
					h3(class="rem:text-[24px] font-bold leading-8 text-Primary-1 pb-3 border-b border-b-neutral-200") Yêu cầu công việc
					.content-list(class="mt-5 flex flex-col gap-3") 
						ul 
							li Xây dựng kế hoạch, triển khai các hoạt động PR truyền thông phù hợp với chiến lược Marketing tổng thể của sản phẩm hoặc dự án
							li Xây dựng kế hoạch, triển khai các hoạt động PR truyền thông phù hợp với chiến lược Marketing tổng thể của sản phẩm hoặc dự án
							li Xây dựng kế hoạch, triển khai các hoạt động PR truyền thông phù hợp với chiến lược Marketing tổng thể của sản phẩm hoặc dự án
				.content(class="mt-8 p-8 bg-Neutral-50") 
					h3(class="rem:text-[24px] font-bold leading-8 text-Primary-1 pb-3 border-b border-b-neutral-200") Chế độ phúc lợi
					.content-list(class="mt-5 flex flex-col gap-3") 
						ul 
							li Xây dựng kế hoạch, triển khai các hoạt động PR truyền thông phù hợp với chiến lược Marketing tổng thể của sản phẩm hoặc dự án
							li Xây dựng kế hoạch, triển khai các hoạt động PR truyền thông phù hợp với chiến lược Marketing tổng thể của sản phẩm hoặc dự án
							li Xây dựng kế hoạch, triển khai các hoạt động PR truyền thông phù hợp với chiến lược Marketing tổng thể của sản phẩm hoặc dự án
				
			.col-right(class="lg:w-4/12 w-full")
				.button(class="flex flex-col gap-3 p-6 bg-neutral-50")
					button(class="bg-Primary-1  py-3 px-6 text-white hover:border hover:border-Primary-1  hover:bg-transparent hover:text-Primary-1 border border-Primary-1 font-medium") 
						.button-link(class="flex items-center gap-2 justify-center")
							a(href="#form-requirement" data-fancybox) Ứng tuyển
							i.fa-regular.fa-plus
					button(class="border border-Primary-1  py-3 px-6 text-Primary-1 max-xl:p-3 hover:bg-Primary-1  hover:text-white font-medium") 
						.button-link(class="flex items-center gap-2 justify-center")
							i.fa-regular.fa-file-arrow-down
							a(href="#") TẢI HỒ SƠ ỨNG TUYỂN
				.box-info(class="mt-10 max-lg:border max-lg:border-neutral-300 border border-Neutral-100") 
					h2.box-info-heading(class="lg:px-3 lg:py-4 p-3 bg-Primary-1 text-white font-bold text-2xl") Vị trí tuyển dụng khác
					.box-info-item
						h3 Tuyển dụng trợ lý Marketing
						.box-info-date 
							i.fa-regular.fa-calendar-star
							span.title Hạn nộp hồ sơ
							span.date 20.06.2024
					.box-info-item 
						h3 Nhân viên Marketing
						.box-info-date 
							i.fa-regular.fa-calendar-star
							span.title Hạn nộp hồ sơ
							span.date 20.06.2024
					.box-info-item 
						h3 Nhân viên Marketing
						.box-info-date 
							i.fa-regular.fa-calendar-star
							span.title Hạn nộp hồ sơ
							span.date 20.06.2024
					.box-info-item 
						h3 Nhân viên Marketing
						.box-info-date 
							i.fa-regular.fa-calendar-star
							span.title Hạn nộp hồ sơ
							span.date 20.06.2024
#form-requirement(style="display: none;" data-fancybox-modal)
	.popup-content(class="w-full relative z-50")
		h3(class="title-job text-5xl text-Neutral-Black font-light mb-10") Nhân viên Marketing
		form(action="")
			.form-group(class="grid grid-cols-1 gap-5 mb-5") 
				.form-group-style-primary
					input(type="text" name="ho-va-ten" placeholder="Họ và tên")
				.form-group-style-primary
					input(type="email" name="email" placeholder="Email")
				.form-group-style-primary
					input(type="tel" name="so-dien-thoai" placeholder="Số điện thoại")
				.form-group-style-primary
					input(type="text" name="noi-dung" placeholder="Nội dung")
				.form-group-style-primary.form-input-file
					input(type="file" name="file-cv" )
				.form-submit
					button(class="py-2 px-3 border border-Primary-Primary_01 text-Primary-1 rem:text-[18px] font-medium flex items-center gap-2") Ứng tuyển