+Banner()
section.recruitment-1(class="section-py") 
	.container 
		.container 
			.recruitment-1-heading
				h2(class="title-64 mb-base") Sống trọn đam mê cùng TT Capital
				.format-content(class="text-lg font-normal")
					p(class="") Với bề dày kinh nghiệm và uy tín trên thị trường, Megabuild tự hào là một môi trường làm việc chuyên nghiệp, nơi bạn có thể phát huy tối đa khả năng của mình. Chúng tôi tin rằng thành công của công ty chính là sự thành công của từng cá nhân. Bằng việc cung cấp một môi trường làm việc hiện đại, chúng tôi cam kết sẽ hỗ trợ bạn phát triển sự nghiệp một cách bền vững. Hãy cùng Megabuild kiến tạo nên những công trình vĩ đại và những giá trị bền vững cho cộng đồng.
section.recruitment-2(class="section-py bg-Primary-1 max-lg:py-10")
	.container
		.heading(class="text-Neutral-White") 
			h2(class="title-40 !text-Neutral-White") Chế độ phúc lợi
		.recruitment-list(class="mt-base grid lg:grid-cols-3 md:grid-cols-2 gap-base md:gap-0")
			-for(var i = 0; i < 6; i++)
				.recruitment-item
					.recruitment-image(class="relative group block overflow-hidden")
						a(href="#" class="img-ratio ratio:pt-[340_465] bg-linear-7 group-hover:scale-105 transition-all duration-300 ease-in-out")
							img(src="./img/1.jpg", alt="" class="w-full h-full bg-linear-7 hover:scale-105 transition-transform duration-300 ease-in-out group-hover:scale-110")
						.bg(class="absolute bottom-0 left-0 w-full h-full bg-linear-7 z-10 p-10 flex flex-col justify-end")
							h3(class="text-Neutral-White rem:text-[24px] font-bold font-oswald leading-8 group-hover:-translate-y-20 transition-all duration-300 ease-in-out") CHẾ ĐỘ ĐÀO TẠO VÀ PHÁT TRIỂN
							p(class="opacity-0 translate-y-4 group-hover:opacity-100 group-hover:-translate-y-[18px] group-hover:block text-Neutral-White transition-all duration-300 ease-in-out absolute bottom-0 pr-10")
								| Chúng tôi mang lại những cơ hội đào tạo chuyên sâu và phát triển nghề nghiệp bền vững cho nhân viên.
section.recruitment-3(class="section-py") 
	.container 
		.heading(class="mb-10") 
			h2 Chinh phục công việc mơ ước tại TT Capital
		.recruitment-table(class="max-md:overflow-x-auto") 
			table(class="w-full border-collapse max-md:overflow-x-hidden max-md:w-[520px]") 
				thead 
					tr 
						td(class="text-center") STT
						td(class="w-[700px] max-lg:w-[400px] max-md:w-[150px]") VỊ TRÍ TUYỂN DỤNG
						td(class="text-center") KHU VỰC
						td(class="text-center") HẠN NỘP HỒ SƠ
				tbody 
					tr 
						td(class="text-center p-3") 01
						td
							a(href="./recruitmentDetail.html") Nhân viên Marketing 
						td(class="text-center") TP. Hồ Chí Minh
						td(class="text-center") 20.06.2024
					tr 
						td(class="text-center p-3") 02
						td
							a(href="./recruitmentDetail.html") Nhân viên Marketing 
						td(class="text-center") TP. Hồ Chí Minh
						td(class="text-center") 20.06.2024
					tr.hidden 
						td(class="text-center p-3") 03
						td
							a(href="./recruitmentDetail.html") Nhân viên Marketing 
						td(class="text-center") TP. Hồ Chí Minh
						td(class="text-center") 20.06.2024
					tr.hidden  
						td(class="text-center p-3") 04
						td
							a(href="./recruitmentDetail.html") Nhân viên Marketing 
						td(class="text-center") TP. Hồ Chí Minh
						td(class="text-center") 20.06.2024
					tr.hidden  
						td(class="text-center p-3") 04
						td
							a(href="./recruitmentDetail.html") Nhân viên Marketing 
						td(class="text-center") TP. Hồ Chí Minh
						td(class="text-center") 20.06.2024
					tr.hidden  
						td(class="text-center p-3") 04
						td
							a(href="./recruitmentDetail.html") Nhân viên Marketing 
						td(class="text-center") TP. Hồ Chí Minh
						td(class="text-center") 20.06.2024			
					tr.hidden  
						td(class="text-center p-3") 04
						td
							a(href="./recruitmentDetail.html") Nhân viên Marketing 
						td(class="text-center") TP. Hồ Chí Minh
						td(class="text-center") 20.06.2024			
		.more(class="flex-center mt-base relative z-50")
			.button-primary
				a(href="#" class="flex items-center gap-3")
					span Xem thêm
					.icon 
						i.fa-regular.fa-chevron-down
